body {
		line-height: 1.42857143;
		color: #40514E;
    margin: 0px;
		text-align: center;
		font-family:  'brandon-grotesque', 'HelveticaNeue-Light',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5.625rem;
	font-family: 'Sacramento', cursive;
	margin: auto;
	color: #45b29a;
}

h2 {
	font-family:  'brandon-grotesque', 'HelveticaNeue-Light',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 2.3rem;
	padding-bottom: 20px;
	font-weight: normal;
	color: #45b29a;
}

h3 {
	font-family: 'brandon-grotesque', 'HelveticaNeue-Light',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	color: #45b29a;
	font-weight: 500;
	margin-bottom: 0;
}

hr {
	border: dotted #EAF6F6 6px;
	border-bottom: none;
	width: 4%;
	margin: 100px auto;
}

a {
	color: #45b29a;
	font-family: 'brandon-grotesque', 'HelveticaNeue-Light',"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	margin: 20px 20px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #545454;
	transition: all .8s ease-in-out;
}

header {
	background-color: #e4f9f5;
	padding: 3rem 0;
}

header .nav-list {
	margin: 0;
}

#earth-holder {
	background-color: #e4f9f5;
	margin-bottom: 50px;
	overflow: hidden;
}

#earth-holder img {
	margin: 0 auto;
	max-width: 800px;
	overflow: hidden;
	background-color:#e4f9f5;
	width: 100%;
	vertical-align: middle;
}

.nav-list li a {
	padding: 0;
	margin: 10px;
	font-weight: 400;
	font-size: 1rem;
}

.p1 {
	line-height: 2;
	width: 60%;
	margin: auto auto auto auto;
}

.pp {
	line-height: 2;
	width: 60%;
}

.intro {
	width: 30%;
	margin: auto auto auto auto;
	line-height: 2;
}

.copy-right {
	color: #45b29a;
	font-size: 0.75rem;
	padding: 2.5rem 0 0;
}

.contact-msg {
	width: 40%;
	margin: 40px auto 60px;
	line-height: 2;
}


.skill-row {
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
}


#title {
		text-align: center;
		position: relative;
    background-color: #e4f9f5;
		padding-top: 0;
    margin-bottom: 0px; 
}

@media (min-width: 992px) {
	#title .top-cloud {
		right: 2rem;
		top: 6rem;
	}
}

#title .top-cloud {
	float: left;
	right: 0;
	top: 0;
}

#title .buttom-cloud {
	left: 0;
	bottom: 2em;
}

#title .cloud {
	position: absolute;
	background: url(/web/20180901170713im_/http://seanhalpin.io/assets/img/ui/cloud.svg) top left no-repeat;
	width: 150px;
	height: 45px;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	z-index: 980;
}

.buttom-container {
	margin-top: 70px;
	background-color: #c5ded7;
	padding: 50px 0 20px;
}

.profile-pic {
	width: 150px;
}

.skill-1 {
	float: left;
	margin-right: 30px;
}

.skill-2 {
	float: right;
	margin-left: 30px;
}

.nav-list {
	float: right;
	display: flex;
	list-style: none;
	justify-content: start;
	align-items: flex-start;
}


.btn {
  background: #45b29a;
  background-image: -webkit-linear-gradient(top, #45b29a, 11999e);
  background-image: -moz-linear-gradient(top, #45b29a, 11999e);
  background-image: -ms-linear-gradient(top, #45b29a, 11999e);
  background-image: -o-linear-gradient(top, #45b29a, 11999e);
  background-image: linear-gradient(to bottom, #45b29a, 11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
	transition: all 0.5s ease-in-out;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
	transition: all 0.5s ease-in-out;
}
